.titulo{
   
    display:flex;
    border: 1PX solid;
    padding-right: 100% 50px;
    background-color: rgb(80, 71, 71);
}
main{
  
    padding-top: 30px;
    display:flex;
    margin-left: 400px;
    text-indent: 2em;
    font-size: 20px;
    
}
h1{
    color: red;
    margin-top: 40px;
}
.titulo[a]{
    
    text-decoration: none;
}
input{
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(58, 51, 51);
}
#titulo1{
   background-image: url("/imagenes/fondo04.jpg");
   text-align: center;
   border: 2px solid;
   background-color: rgb(80, 71, 71);
   margin-left: 160px;
   margin-right: 160px;
   color: rgb(155, 150, 143);
   padding-top: 6px;
   padding-bottom: 6px;
   
}

.animes{ 
    padding-bottom: 20px;
    margin-right: 900px;
    border: 2px solid;
    margin-left: 160px;
    
}
a{
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 500px;
}









